*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/app/build
/data/build/
/data/build/intermediates/javac/simpsonsviewerDebug/classes/
/domain/build/
